
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <title>Home Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Book Record Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'add-book-view' %}">Add Book</a>
            </li>
          </ul>
        </div>
      </nav>



      
      <div class="container">
          <h1 class="mt-2 mb-4">All Books</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for i in books %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ i.title }}</td>
                  <td>{{ i.price }}</td>
                  <td>
                    <a href="{% url 'edit-book-view' %}?bookid={{ i.id }}">
                      <button type="button" class="btn btn-sm btn-primary">Edit</button>
                    </a>
                    <a href="{% url 'delete-book' %}?bookid={{ i.id }}">
                      <button type="button" class="btn btn-sm btn-danger">Delete</button>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
